@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.main-block {
  height: 100vh;
  text-align: center;
}

.search-result-item {
  cursor: pointer;
  margin: 15px;
}
.search-result-item span {
  color: blue;
}
.detail-info-item {
  // display: flex;
}

